/* [project]/src/components/Copyright.module.css [app-client] (css) */
.Copyright-module__XZ2QKq__Copyright {
  flex-direction: row;
  gap: 8px;
  width: 229px;
  height: 25px;
  display: flex;
}

.Copyright-module__XZ2QKq__Copyright h5 {
  width: 197px;
  height: 25px;
  font-family: Nunito;
  font-size: 18px;
  font-weight: 400;
}


/* [project]/src/components/Footer.module.css [app-client] (css) */
.Footer-module__S6Hkya__Footer {
  background-color: #ffebbe;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 73px;
  display: grid;
}

@media (width <= 480px) {
  .Footer-module__S6Hkya__Footer {
    width: 100%;
    height: 51px;
  }
}


/* [project]/src/components/Header.module.css [app-client] (css) */
.Header-module__hBw1pG__header {
  background-color: #f9f9f9;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 54px;
  display: flex;
}

.Header-module__hBw1pG__carrinho {
  background-color: #f9f9f9;
  height: 19px;
  padding-bottom: 1px;
}

.Header-module__hBw1pG__carrinho h1 {
  text-align: center;
  color: #8b4513;
  height: 18px;
  font-size: 15.13px;
}

@media (width <= 480px) {
  .Header-module__hBw1pG__header {
    justify-content: space-around;
    width: 100%;
    display: flex;
  }
}


/* [project]/src/components/Logo.module.css [app-client] (css) */
.Logo-module__wacNiq__logo h1 {
  color: #ffaf14;
  width: 207px;
  height: 38px;
  margin: 0;
  font-family: Lacquer;
  font-size: 32px;
  font-weight: 400;
  line-height: 100%;
}

.Logo-module__wacNiq__logo h1 span {
  color: #550312;
}


/* [project]/src/components/Hero.module.css [app-client] (css) */
.Hero-module__ZARIfG__Hero {
  background-color: #ffebbe;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 688px;
  display: flex;
}

.Hero-module__ZARIfG__Content {
  flex-direction: column;
  gap: 32px;
  width: 496px;
  height: 220px;
  display: flex;
}

.Hero-module__ZARIfG__Content h1 {
  width: 425px;
  height: 49px;
  letter-spacing: 0%;
  color: #550312;
  font-family: Nunito;
  font-size: 36px;
  font-weight: 700;
  line-height: 100%;
}

.Hero-module__ZARIfG__Content p {
  text-align: justify;
  width: 496px;
  height: 66px;
  font-family: Nunito;
  font-size: 16px;
  font-weight: 400;
}

.Hero-module__ZARIfG__Content button {
  background-color: #ffaf14;
  border: 1px solid #550312;
  border-radius: 5px;
  width: 164px;
  height: 41px;
  padding: 8px 32px;
}

.Hero-module__ZARIfG__Content button h2 {
  color: #550312;
  width: 100px;
  height: 25px;
  font-family: Nunito;
  font-size: 18px;
  font-weight: 700;
}

.Hero-module__ZARIfG__Pizza {
  width: 495.995px;
  height: 496.005px;
}

@media (width <= 480px) {
  .Hero-module__ZARIfG__Hero {
    flex-direction: column-reverse;
    width: 100%;
    height: 774px;
    display: flex;
  }

  .Hero-module__ZARIfG__Pizza {
    width: 310.999px;
    height: 311.001px;
  }

  .Hero-module__ZARIfG__Content {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
    width: 311px;
    height: 303px;
    display: flex;
  }

  .Hero-module__ZARIfG__Content h1 {
    text-align: center;
    width: 311px;
    height: 88px;
    letter-spacing: 0%;
    text-align: center;
    font-family: Nunito;
    font-size: 32px;
    font-weight: 700;
    line-height: 150%;
  }

  .Hero-module__ZARIfG__Content p {
    width: 311px;
    height: 110px;
    letter-spacing: 0%;
    text-align: center;
    font-family: Nunito;
    font-size: 16px;
    font-weight: 400;
  }

  .Hero-module__ZARIfG__Content button {
    border-width: 1px;
    border-radius: 5px;
    width: 164px;
    height: 41px;
    padding: 8px 32px;
  }
}


/* [project]/src/components/Perks.module.css [app-client] (css) */
.Perks-module__KxLIoW__Perks {
  flex-direction: row;
  justify-content: center;
  justify-self: center;
  align-items: center;
  gap: 32px;
  height: 259px;
  margin: 100px 0;
  display: flex;
}

.Perks-module__KxLIoW__Perks div {
  text-align: center;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 392px;
  height: 237px;
  padding-left: 16px;
  padding-right: 16px;
  display: flex;
}

.Perks-module__KxLIoW__Perks div img {
  width: 96px;
  height: 96px;
}

.Perks-module__KxLIoW__Perks div h2 {
  height: 33px;
  letter-spacing: 0%;
  text-align: center;
  color: #550312;
  font-family: Nunito;
  font-size: 24px;
  font-weight: 700;
  line-height: 100%;
}

.Perks-module__KxLIoW__Perks div p {
  text-align: center;
  font-family: Nunito;
  font-size: 16px;
  font-weight: 400;
}

.Perks-module__KxLIoW__Chefs p {
  width: 360px;
  height: 44px;
}

.Perks-module__KxLIoW__Ingredients p {
  width: 276px;
  height: 66px;
}

.Perks-module__KxLIoW__Delivery p {
  width: 360px;
  height: 66px;
}

@media (width <= 480px) {
  .Perks-module__KxLIoW__Perks {
    flex-direction: column;
    justify-content: space-around;
    justify-self: center;
    align-items: center;
    gap: 24px;
    width: 311px;
    height: 803px;
    margin: 64px 0;
    display: flex;
  }

  .Perks-module__KxLIoW__Perks div {
    gap: 32px;
    width: 311px;
    height: 237px;
  }

  .Perks-module__KxLIoW__Perks div h2 {
    width: 182px;
    height: 33px;
    font-family: Nunito;
    font-size: 24px;
    font-weight: 700;
  }

  .Perks-module__KxLIoW__Perks div p {
    letter-spacing: 0%;
    text-align: center;
    font-family: Nunito;
    font-size: 16px;
    font-weight: 400;
  }

  .Perks-module__KxLIoW__Chefs p {
    width: 279px;
    height: 44px;
  }

  .Perks-module__KxLIoW__Ingredients p {
    width: 276px;
    height: 66px;
  }

  .Perks-module__KxLIoW__Delivery p {
    width: 279px;
    height: 66px;
    letter-spacing: 0%;
    text-align: center;
    font-family: Nunito;
    font-size: 16px;
    font-weight: 400;
  }
}


/* [project]/src/components/Citacao.module.css [app-client] (css) */
.Citacao-module__emSA_a__Citacao {
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
  width: 614.902px;
  height: 135px;
  display: flex;
}

.Citacao-module__emSA_a__Citacao img {
  width: 48px;
  height: 48px;
}

.Citacao-module__emSA_a__Citacao h1 {
  width: 315px;
  height: 33px;
  letter-spacing: 0%;
  font-family: Nunito;
  font-size: 24px;
  font-weight: 400;
  line-height: 100%;
}

.Citacao-module__emSA_a__Citacao p {
  width: 143px;
  height: 22px;
  letter-spacing: 0%;
  font-family: Nunito;
  font-size: 16px;
  font-weight: 600;
  line-height: 100%;
}

@media (width <= 480px) {
  .Citacao-module__emSA_a__Citacao {
    width: 311px;
    height: 138px;
  }

  .Citacao-module__emSA_a__Citacao h1 {
    width: 315px;
    height: 33px;
    letter-spacing: 0%;
    font-family: Nunito;
    font-size: 24px;
    font-weight: 400;
  }

  .Citacao-module__emSA_a__Citacao p {
    width: 158px;
    height: max-content;
    font-family: Nunito;
    font-size: 18px;
    font-weight: 400;
  }
}


/* [project]/src/components/Reviews.module.css [app-client] (css) */
.Reviews-module__yTtV6W__Reviews {
  background-color: #ffebbe;
  justify-content: center;
  align-items: center;
  height: 266px;
  display: grid;
}

@media (width <= 480px) {
  .Reviews-module__yTtV6W__Reviews {
    width: 100%;
    height: 234px;
  }
}


/* [project]/src/components/LogoGrande.module.css [app-client] (css) */
.LogoGrande-module__qIz9sa__logo h1 {
  color: #ffaf14;
  width: 310px;
  height: 58px;
  margin: 0;
  font-family: Lacquer;
  font-size: 48px;
  font-weight: 400;
  line-height: 100%;
}

.LogoGrande-module__qIz9sa__logo h1 span {
  color: #550312;
}


/* [project]/src/components/Social.module.css [app-client] (css) */
.Social-module__f8JYbq__Social {
  justify-content: center;
  justify-self: center;
  align-items: center;
  gap: 32px;
  width: 310px;
  height: 138px;
  margin: 100px 0;
  display: grid;
}

.Social-module__f8JYbq__RedesSociaisLogo {
  flex-direction: row;
  justify-self: center;
  gap: 32px;
  width: 128px;
  height: 48px;
  display: flex;
}

.Social-module__f8JYbq__RedesSociaisLogo img {
  width: 48px;
  height: 48px;
}

@media (width <= 480px) {
  .Social-module__f8JYbq__Social {
    margin: 64px 0;
  }
}


/* [project]/src/components/menu/Menu.module.css [app-client] (css) */
.Menu-module___Z9Bfq__menu {
  flex-direction: column;
  justify-content: space-between;
  place-self: center;
  align-items: center;
  width: 1224px;
  height: 757px;
  margin-top: 100px;
  display: flex;
}

.Menu-module___Z9Bfq__SectionTitle {
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 8px;
  width: 168px;
  height: 41px;
  display: flex;
}

.Menu-module___Z9Bfq__SectionTitle .Menu-module___Z9Bfq__Line1 {
  border: 3px solid #550312;
  width: 45px;
}

.Menu-module___Z9Bfq__SectionTitle .Menu-module___Z9Bfq__Title {
  color: #550312;
  width: 168px;
  height: 33px;
  font-family: Nunito;
  font-size: 24px;
  font-weight: 600;
}


/* [project]/src/components/menu/menuItens/MenuItens.module.css [app-client] (css) */
.MenuItens-module__K4hekq__sliderWrapper {
  width: 100%;
  max-width: 1224px;
  margin: 0 auto;
}

.MenuItens-module__K4hekq__slide {
  justify-content: center;
  align-items: center;
  min-height: 700px;
  padding: 20px;
  display: flex !important;
}


/* [project]/node_modules/slick-carousel/slick/slick.css [app-client] (css) */
.slick-slider {
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
  display: block;
  position: relative;
}

.slick-list {
  margin: 0;
  padding: 0;
  display: block;
  position: relative;
  overflow: hidden;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track, .slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  margin-left: auto;
  margin-right: auto;
  display: block;
  position: relative;
  top: 0;
  left: 0;
}

.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}

[dir="rtl"] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  border: 1px solid #0000;
  height: auto;
  display: block;
}

.slick-arrow.slick-hidden {
  display: none;
}


/* [project]/node_modules/slick-carousel/slick/slick-theme.css [app-client] (css) */
.slick-loading .slick-list {
  background: #fff url("../media/ajax-loader.326aa633.gif") center no-repeat;
}

@font-face {
  font-family: slick;
  font-weight: normal;
  font-style: normal;
  src: url("../media/slick.a3496dc3.eot");
  src: url("../media/slick.a3496dc3.eot") format("embedded-opentype"), url("../media/slick.6bbd91df.woff") format("woff"), url("../media/slick.0349f530.ttf") format("truetype"), url("../media/slick.ca1acda0.svg") format("svg");
}

.slick-prev, .slick-next {
  cursor: pointer;
  color: #0000;
  background: none;
  border: none;
  outline: none;
  width: 20px;
  height: 20px;
  padding: 0;
  font-size: 0;
  line-height: 0;
  display: block;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
}

.slick-prev:hover, .slick-prev:focus, .slick-next:hover, .slick-next:focus {
  color: #0000;
  background: none;
  outline: none;
}

.slick-prev:hover:before, .slick-prev:focus:before, .slick-next:hover:before, .slick-next:focus:before {
  opacity: 1;
}

.slick-prev.slick-disabled:before, .slick-next.slick-disabled:before {
  opacity: .25;
}

.slick-prev:before, .slick-next:before {
  opacity: .75;
  color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: slick;
  font-size: 20px;
  line-height: 1;
}

.slick-prev {
  left: -25px;
}

[dir="rtl"] .slick-prev {
  left: auto;
  right: -25px;
}

.slick-prev:before {
  content: "←";
}

[dir="rtl"] .slick-prev:before {
  content: "→";
}

.slick-next {
  right: -25px;
}

[dir="rtl"] .slick-next {
  left: -25px;
  right: auto;
}

.slick-next:before {
  content: "→";
}

[dir="rtl"] .slick-next:before {
  content: "←";
}

.slick-dotted.slick-slider {
  margin-bottom: 30px;
}

.slick-dots {
  text-align: center;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
  display: block;
  position: absolute;
  bottom: -25px;
}

.slick-dots li {
  cursor: pointer;
  width: 20px;
  height: 20px;
  margin: 0 5px;
  padding: 0;
  display: inline-block;
  position: relative;
}

.slick-dots li button {
  cursor: pointer;
  color: #0000;
  background: none;
  border: 0;
  outline: none;
  width: 20px;
  height: 20px;
  padding: 5px;
  font-size: 0;
  line-height: 0;
  display: block;
}

.slick-dots li button:hover, .slick-dots li button:focus {
  outline: none;
}

.slick-dots li button:hover:before, .slick-dots li button:focus:before {
  opacity: 1;
}

.slick-dots li button:before {
  content: "•";
  text-align: center;
  opacity: .25;
  color: #000;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 20px;
  height: 20px;
  font-family: slick;
  font-size: 6px;
  line-height: 20px;
  position: absolute;
  top: 0;
  left: 0;
}

.slick-dots li.slick-active button:before {
  opacity: .75;
  color: #000;
}


/*# sourceMappingURL=_3eb4c0d3._.css.map*/