/* [project]/src/components/Copyright.module.css [app-client] (css) */
.Copyright-module__XZ2QKq__Copyright {
  flex-direction: row;
  gap: 8px;
  width: 229px;
  height: 25px;
  display: flex;
}

.Copyright-module__XZ2QKq__Copyright h5 {
  width: 197px;
  height: 25px;
  font-family: Nunito;
  font-size: 18px;
  font-weight: 400;
}


/* [project]/src/components/Footer.module.css [app-client] (css) */
.Footer-module__S6Hkya__Footer {
  background-color: #ffebbe;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 73px;
  display: grid;
}

@media (width <= 480px) {
  .Footer-module__S6Hkya__Footer {
    width: 100%;
    height: 51px;
  }
}


/* [project]/src/components/Header.module.css [app-client] (css) */
.Header-module__hBw1pG__header {
  background-color: #f9f9f9;
  justify-content: center;
  align-items: center;
  height: 54px;
  display: grid;
}


/* [project]/src/components/Logo.module.css [app-client] (css) */
.Logo-module__wacNiq__logo h1 {
  color: #ffaf14;
  width: 207px;
  height: 38px;
  margin: 0;
  font-family: Lacquer;
  font-size: 32px;
  font-weight: 400;
  line-height: 100%;
}

.Logo-module__wacNiq__logo h1 span {
  color: #550312;
}


/* [project]/src/components/Hero.module.css [app-client] (css) */
.Hero-module__ZARIfG__Hero {
  background-color: #ffebbe;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 688px;
  display: flex;
}

.Hero-module__ZARIfG__Content {
  flex-direction: column;
  gap: 32px;
  width: 496px;
  height: 220px;
  display: flex;
}

.Hero-module__ZARIfG__Content h1 {
  width: 425px;
  height: 49px;
  letter-spacing: 0%;
  color: #550312;
  font-family: Nunito;
  font-size: 36px;
  font-weight: 700;
  line-height: 100%;
}

.Hero-module__ZARIfG__Content p {
  text-align: justify;
  width: 496px;
  height: 66px;
  font-family: Nunito;
  font-size: 16px;
  font-weight: 400;
}

.Hero-module__ZARIfG__Content button {
  background-color: #ffaf14;
  border: 1px solid #550312;
  border-radius: 5px;
  width: 164px;
  height: 41px;
  padding: 8px 32px;
}

.Hero-module__ZARIfG__Content button h2 {
  color: #550312;
  width: 100px;
  height: 25px;
  font-family: Nunito;
  font-size: 18px;
  font-weight: 700;
}

.Hero-module__ZARIfG__Pizza {
  width: 495.995px;
  height: 496.005px;
}

@media (width <= 480px) {
  .Hero-module__ZARIfG__Hero {
    flex-direction: column-reverse;
    width: 100%;
    height: 774px;
    display: flex;
  }

  .Hero-module__ZARIfG__Pizza {
    width: 310.999px;
    height: 311.001px;
  }

  .Hero-module__ZARIfG__Content {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
    width: 311px;
    height: 303px;
    display: flex;
  }

  .Hero-module__ZARIfG__Content h1 {
    text-align: center;
    width: 311px;
    height: 88px;
    letter-spacing: 0%;
    text-align: center;
    font-family: Nunito;
    font-size: 32px;
    font-weight: 700;
    line-height: 100%;
  }

  .Hero-module__ZARIfG__Content p {
    width: 311px;
    height: 110px;
    letter-spacing: 0%;
    text-align: center;
    font-family: Nunito;
    font-size: 16px;
    font-weight: 400;
  }

  .Hero-module__ZARIfG__Content button {
    border-width: 1px;
    border-radius: 5px;
    width: 164px;
    height: 41px;
    padding: 8px 32px;
  }
}


/* [project]/src/components/Perks.module.css [app-client] (css) */
.Perks-module__KxLIoW__Perks {
  flex-direction: row;
  justify-content: center;
  justify-self: center;
  align-items: center;
  gap: 32px;
  height: 259px;
  margin: 100px 0;
  display: flex;
}

.Perks-module__KxLIoW__Perks div {
  text-align: center;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 392px;
  height: 237px;
  padding-left: 16px;
  padding-right: 16px;
  display: flex;
}

.Perks-module__KxLIoW__Perks div img {
  width: 96px;
  height: 96px;
}

.Perks-module__KxLIoW__Perks div h2 {
  height: 33px;
  letter-spacing: 0%;
  text-align: center;
  color: #550312;
  font-family: Nunito;
  font-size: 24px;
  font-weight: 700;
  line-height: 100%;
}

.Perks-module__KxLIoW__Perks div p {
  text-align: center;
  font-family: Nunito;
  font-size: 16px;
  font-weight: 400;
}

.Perks-module__KxLIoW__Chefs p {
  width: 360px;
  height: 44px;
}

.Perks-module__KxLIoW__Ingredients p {
  width: 276px;
  height: 66px;
}

.Perks-module__KxLIoW__Delivery p {
  width: 360px;
  height: 66px;
}

@media (width <= 480px) {
  .Perks-module__KxLIoW__Perks {
    flex-direction: column;
    justify-content: space-around;
    justify-self: center;
    align-items: center;
    gap: 24px;
    width: 311px;
    height: 803px;
    margin: 64px 0;
    display: flex;
  }

  .Perks-module__KxLIoW__Perks div {
    gap: 32px;
    width: 311px;
    height: 237px;
  }

  .Perks-module__KxLIoW__Perks div h2 {
    width: 182px;
    height: 33px;
    font-family: Nunito;
    font-size: 24px;
    font-weight: 700;
  }

  .Perks-module__KxLIoW__Perks div p {
    letter-spacing: 0%;
    text-align: center;
    font-family: Nunito;
    font-size: 16px;
    font-weight: 400;
  }

  .Perks-module__KxLIoW__Chefs p {
    width: 279px;
    height: 44px;
  }

  .Perks-module__KxLIoW__Ingredients p {
    width: 276px;
    height: 66px;
  }

  .Perks-module__KxLIoW__Delivery p {
    width: 279px;
    height: 66px;
    letter-spacing: 0%;
    text-align: center;
    font-family: Nunito;
    font-size: 16px;
    font-weight: 400;
  }
}


/* [project]/src/components/Citacao.module.css [app-client] (css) */
.Citacao-module__emSA_a__Citacao {
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
  width: 614.902px;
  height: 135px;
  display: flex;
}

.Citacao-module__emSA_a__Citacao img {
  width: 48px;
  height: 48px;
}

.Citacao-module__emSA_a__Citacao h1 {
  width: 315px;
  height: 33px;
  letter-spacing: 0%;
  font-family: Nunito;
  font-size: 24px;
  font-weight: 400;
  line-height: 100%;
}

.Citacao-module__emSA_a__Citacao p {
  width: 143px;
  height: 22px;
  letter-spacing: 0%;
  font-family: Nunito;
  font-size: 16px;
  font-weight: 600;
  line-height: 100%;
}

@media (width <= 480px) {
  .Citacao-module__emSA_a__Citacao {
    width: 311px;
    height: 138px;
  }

  .Citacao-module__emSA_a__Citacao h1 {
    width: 315px;
    height: 33px;
    letter-spacing: 0%;
    font-family: Nunito;
    font-size: 24px;
    font-weight: 400;
  }

  .Citacao-module__emSA_a__Citacao p {
    width: 158px;
    height: max-content;
    font-family: Nunito;
    font-size: 18px;
    font-weight: 400;
  }
}


/* [project]/src/components/Reviews.module.css [app-client] (css) */
.Reviews-module__yTtV6W__Reviews {
  background-color: #ffebbe;
  justify-content: center;
  align-items: center;
  height: 266px;
  display: grid;
}

@media (width <= 480px) {
  .Reviews-module__yTtV6W__Reviews {
    width: 100%;
    height: 234px;
  }
}


/* [project]/src/components/LogoGrande.module.css [app-client] (css) */
.LogoGrande-module__qIz9sa__logo h1 {
  color: #ffaf14;
  width: 310px;
  height: 58px;
  margin: 0;
  font-family: Lacquer;
  font-size: 48px;
  font-weight: 400;
  line-height: 100%;
}

.LogoGrande-module__qIz9sa__logo h1 span {
  color: #550312;
}


/* [project]/src/components/Social.module.css [app-client] (css) */
.Social-module__f8JYbq__Social {
  justify-content: center;
  justify-self: center;
  align-items: center;
  gap: 32px;
  width: 310px;
  height: 138px;
  margin: 100px 0;
  display: grid;
}

.Social-module__f8JYbq__RedesSociaisLogo {
  flex-direction: row;
  justify-self: center;
  gap: 32px;
  width: 128px;
  height: 48px;
  display: flex;
}

.Social-module__f8JYbq__RedesSociaisLogo img {
  width: 48px;
  height: 48px;
}

@media (width <= 480px) {
  .Social-module__f8JYbq__Social {
    margin: 64px 0;
  }
}


/*# sourceMappingURL=src_components_713853b9._.css.map*/