/* [project]/src/app/carrinho/components/Header.module.css [app-client] (css) */
.Header-module__GEGd1G__header {
  background-color: #f9f9f9;
  justify-content: center;
  align-items: center;
  height: 77px;
  margin: 0;
  padding: 19px 0 20px;
  display: grid;
  box-shadow: 0 2px 10px #0000001a;
}

.Header-module__GEGd1G__container {
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 1160px;
  height: 38px;
  padding-right: 434.39px;
  display: flex;
}

.Header-module__GEGd1G__container button {
  width: 149px;
  height: 19px;
  padding-bottom: 1px;
}

.Header-module__GEGd1G__container button h1 {
  text-align: center;
  vertical-align: middle;
  color: #8b4513;
  width: 149px;
  height: 18px;
  font-size: 15.13px;
}

.Header-module__GEGd1G__logo {
  width: 207px;
  height: 38px;
}

.Header-module__GEGd1G__logo h1 {
  color: #ffaf14;
  width: 207px;
  height: 38px;
  letter-spacing: 0%;
  font-family: Lacquer;
  font-size: 32px;
  font-weight: 400;
  line-height: 100%;
}

.Header-module__GEGd1G__logo h1 span {
  color: #550312;
}


/* [project]/src/app/carrinho/components/Main.module.css [app-client] (css) */
.Main-module__a0qUpW__carrinhoPage {
  background-color: #f8f4f0;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  width: 100%;
  height: 1000.81px;
  padding-top: 40px;
  padding-bottom: 362.25px;
  display: flex;
}

.Main-module__a0qUpW__carrinhoPage section {
  flex-direction: row;
  justify-content: space-between;
  width: 1200px;
  display: flex;
}

.Main-module__a0qUpW__Heading {
  width: 1160px;
  height: 52px;
  font-family: 1;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
  color: #2c2c2c;
  font-size: 32px;
  font-weight: 600;
  line-height: 100%;
}

.Main-module__a0qUpW__Heading h1 {
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
  font-size: 32px;
  font-weight: 600;
  line-height: 100%;
}

.Main-module__a0qUpW__resumo {
  background-color: #fff;
  border-radius: 12px;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 373.34px;
  height: 506.56px;
  display: flex;
  box-shadow: 0 4px 20px #0000001a;
}

.Main-module__a0qUpW__resumo button {
  cursor: pointer;
  background: linear-gradient(#daa520, #b8860b);
  border-radius: 8px;
  width: 313.34px;
  height: 49px;
  padding: 15px 15px 16px;
}

.Main-module__a0qUpW__resumo button h2 {
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
  color: #fff;
  font-family: Inter;
  font-size: 15.13px;
  font-weight: 500;
  line-height: 100%;
}

.Main-module__a0qUpW__HorizontalBorder {
  border-bottom-width: 1px;
  border-bottom: 1px solid var(--color-grey-94, #f0f0f0);
  flex-direction: row;
  justify-content: space-between;
  width: 313.34px;
  height: 50px;
  padding-top: 11px;
  padding-bottom: 13px;
  display: flex;
}

.Main-module__a0qUpW__HorizontalBorder h2 {
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 25, 6px;
  letter-spacing: 0%;
  vertical-align: middle;
  color: #2c2c2c;
}

.Main-module__a0qUpW__entrega {
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
  width: 313.34px;
  height: 135.77px;
  display: flex;
}

.Main-module__a0qUpW__entregaH3 {
  width: 313.34px;
  height: 26px;
  font-family: 1;
  letter-spacing: 0%;
  vertical-align: middle;
  color: #2c2c2c;
  font-size: 16px;
  font-weight: 700;
  line-height: 25.6px;
}

.Main-module__a0qUpW__marcar {
  flex-direction: row;
  align-items: center;
  gap: 10px;
  width: 313.34px;
  height: 49.59px;
  padding-top: 11px;
  padding-bottom: 12px;
  display: flex;
}

.Main-module__a0qUpW__marcar input {
  appearance: none;
  border: 1px solid var(--color-grey-46, #767676);
  border-radius: 50px;
  width: 13px;
  height: 13px;
}

.Main-module__a0qUpW__marcar input:checked {
  background-color: #daa520;
  border: 1px solid #daa520;
}

.Main-module__a0qUpW__marcar h3 {
  letter-spacing: 0%;
  vertical-align: middle;
  color: #2c2c2c;
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
}

.Main-module__a0qUpW__Container {
  background-color: #fff;
  border-radius: 12px;
  width: 746.66px;
  padding: 30px;
  box-shadow: 0 4px 20px #0000001a;
}

.Main-module__a0qUpW__Container .Main-module__a0qUpW__Informacoes {
  border-bottom-width: stroke weight;
  border-bottom: 1px solid var(--color-grey-94, #f0f0f0);
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0;
  width: 686.66px;
  height: 132.39px;
  padding-top: 19px;
  padding-bottom: 21px;
  display: flex;
}

.Main-module__a0qUpW__Container .Main-module__a0qUpW__Informacoes .Main-module__a0qUpW__imgAolado {
  width: 80px;
  height: 80px;
}

.Main-module__a0qUpW__Container .Main-module__a0qUpW__Informacoes .Main-module__a0qUpW__quantidade {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 156.02px;
  height: 35px;
  display: flex;
}

.Main-module__a0qUpW__Container .Main-module__a0qUpW__Informacoes .Main-module__a0qUpW__NomeDescPreco {
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 410.64px;
  height: 92.39px;
  padding-bottom: .59px;
  display: flex;
}

.Main-module__a0qUpW__NomeDescPreco h2 {
  width: 410.64px;
  height: 29.8px;
  letter-spacing: 0%;
  vertical-align: middle;
  color: #2c2c2c;
  padding-bottom: .8px;
  font-size: 18px;
  font-weight: 500;
}

.Main-module__a0qUpW__NomeDescPreco p {
  width: 410.64px;
  height: 28px;
  letter-spacing: 0%;
  vertical-align: middle;
  color: #666;
  padding-bottom: 5px;
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 22.4px;
}

.Main-module__a0qUpW__NomeDescPreco h3 {
  letter-spacing: 0%;
  vertical-align: middle;
  color: #8b4513;
  font-family: Inter;
  font-size: 16px;
  font-weight: 600;
  line-height: 25.6px;
}

.Main-module__a0qUpW__quantidade img {
  width: 35px;
  height: 35px;
}

.Main-module__a0qUpW__quantidade p {
  width: 20.14px;
  min-width: 20px;
  height: 26.59px;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
  padding-bottom: .59px;
  padding-left: 5.06px;
  padding-right: 5.08px;
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  line-height: 25.6px;
}

.Main-module__a0qUpW__Heading2 {
  width: 180px;
  height: 32px;
  letter-spacing: 0%;
  vertical-align: middle;
  color: #2c2c2c;
  align-self: self-start;
  margin-left: 30px;
  font-family: Inter;
  font-size: 20px;
  font-weight: 600;
}


/*# sourceMappingURL=src_app_carrinho_components_3d744ae1._.css.map*/