.header {
    margin: 0px;
    padding: 0px;
    height: 77px;
    padding-top: 19px;
    padding-bottom: 20px;
    background-color: #F9F9F9;
    display: grid;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 2px 10px 0px #0000001A;
}

.container {
    width: 1160px;
    height: 38px;
    padding-right: 434.39px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.container button {
    width: 149px;
    height: 19px;
    padding-bottom: 1px;

}

.container button h1 {
    width: 149px;
    height: 18px;
    font-size: 15.13px;


    text-align: center;
    vertical-align: middle;
    color: #8B4513;
}

.logo {
    width: 207px;
    height: 38px;
}

.logo h1 {
    width: 207px;
    height: 38px;
    font-family: 'Lacquer';
    font-weight: 400;
    font-size: 32px;
    color: #FFAF14;

    line-height: 100%;
    letter-spacing: 0%;



}

.logo h1 span {
    color: #550312;


}