.Copyright {
    display: flex;
    flex-direction: row;
    width: 229px;
    height: 25px;
    gap: 8px;
}

.Copyright h5 {
    width: 197px;
    height: 25px;
    font-family: 'Nunito';
    font-weight: 400;
    font-size: 18px;

}